# Ignore everything
*

# but...
!minecraft
!docker-compose.yml
!.gitignore



# server config
!data
!data/whitelist.json
!data/server.properties


# plugins
!plugins

# Essentials
!plugins/Essentials
!plugins/Essentials/config.yml
!plugins/Essentials/custom_items.yml
!plugins/Essentials/items.yml
!plugins/Essentials/kits.yml
!plugins/Essentials/motd.yml
!plugins/Essentials/tpr.yml

# LuckPerms
!plugins/LuckPerms
!plugins/LuckPerms/config.yml

# MiniMOTD
!plugins/MiniMOTD
!plugins/MiniMOTD/main.conf
!plugins/MiniMOTD/plugin_settings.conf

# TreeCuter
!plugins/TreeCuter
!plugins/TreeCuter/config.yml

