# Ignore everything
*

# but...
!minecraft
!docker-compose.yml
!.gitignore
!data
!data/whitelist.json
!data/server.properties
!data/plugins
!data/plugins/Essentials
!data/plugins/Essentials/config.yml
!data/plugins/Essentials/custom_items.yml
!data/plugins/Essentials/items.yml
!data/plugins/Essentials/kits.yml
!data/plugins/Essentials/motd.yml
!data/plugins/Essentials/tpr.yml
!data/plugins/LuckPerms
!data/plugins/LuckPerms/config.yml
!data/plugins/MiniMOTD
!data/plugins/MiniMOTD/main.conf
!data/plugins/MiniMOTD/plugin_settings.conf
!data/plugins/TreeCuter
!data/plugins/TreeCuter/config.yml

